body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  position: relative;
  text-align: center;
  padding: 0.2em 0;
  margin: 0;
  background-color: #222;
  color: lightskyblue;
}

/* Control Panel styles */
.control-panel {
  width: 100%;
}

.control-panel>* {
  position: relative;
  z-index: 2;
}

.filter-locations {
  height: 3em;
}

.search-contacts {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 1em;
  background-color: white;
  font-family: FontAwesome, sans-serif;
  font-size: 1.2em;
  border: 0;
}

.toggle-locations-list {
  height: 0;
  text-align: center;
}

.menu-toggler {
  width: 20vw;
  background-color: #ffffff;
  padding-bottom: 0.25em;
  border-radius: 0 0 10px 10px;
  border: 2px solid #aaa;
  border-top-color: transparent;
}

.locations-list {
  position: fixed;
  height: calc(100vh - 7em);
  width: 100%;
  transform: translateY(-120%);
  transition: 500ms;
  background-color: transparent;
  z-index: 1;
  overflow: auto;
}

.locations-list.open{
  transform: initial;
}

.location-item {
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.location-address {
  font-size: 0.75em;
  color: #999;
}

/* Map styles */
.map-container {
  height: calc(100vh - 3em - 3.2em);
  width: 100%;
}

.news {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70vw;
}

.news-footer {
  width: 100%;
  text-align: center;
}

.news-head {
  width: 100%;
  text-align: center;
  color: #444;
}

/* For responsiveness */
@media only screen and (min-width: 768px) {
  /* App styles */
  .App {
    display: flex;
    flex-wrap: wrap;
  }

  /* Control Panel styles */
  .control-panel {
    width: 20%;
    height: 100vh;
  }

  .toggle-locations-list{
    display: none;
  }

  .locations-list {
    height: calc(100vh - 3em - 3.2em);
    position: relative;
    transform: initial;
    transition: initial;
}

  /* Map styles */
  .map-container {
    width: 80%;
    height: 100vh;
  }

  .news {
    max-width: 50ch;
  }
}